.chat-list-container{
   margin: 15px 0 0 0;
   height: 80vh;
   overflow-y: auto;
}
.chat-item{
   display: flex;
   justify-content: space-between;
   margin: 0 0 0 12px;
   border-bottom: 1px solid #f2f2f2;
   padding: 0 0 25px 0;
   cursor: pointer;
}

.chat-item:hover{
   background-color: #ebebeb;
}
.chat-item .profile {
   display: flex;
   
}
.chat-item .profile img{

   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.details{
   margin: 9px 0 0 8px;
}
.details h6{
   font-size: 16px;
}

.details p{
   font-size: 13px;
   margin: -4px 0 0 0;
   font-weight: 500;
}

.date{
   display: flex;
   align-items: center;
   opacity: .8;
}
.date p {
   font-size: 13px;
   margin: 8px 9px 0 0;
}